# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
*.env
environemnt/
# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files or intermediate training results
*.h5
acllmdb/

# Pytest cache and coverage reports
.pytest_cache/
.coverage
htmlcov/

# Logs and temporary files
*.log
*.csv
*.json
*.db

# IDE and OS files
.vscode/
.idea/
.DS_Store
train
test

# Docker
# Ignore Docker image layers
*.tar

# Ignore docker-compose override files
docker-compose.override.yml

# Ignore Docker volumes and data files
**/docker-data/

